<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h3 class="brand-display text-center">Blocipedia: Social, Markdown Wikis</h3>
      <br>
      <header class="jumbotron my-4 padding">
        <p class="h4 d-flex justify-content-center">Downgrade Account</p>
        <div class="text-center">
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <p class="card-text">Do you want downgrade your account? You'll lose the ability to create private wikis, and your private wikis will become public!</p>
              <div id="error-message"></div>
              <% if(currentUser) { %>
                <form action="/users/downgrade" method="post">
                  <button type="submit" class="btn btn-danger btn-med">Downgrade</button>
                </form>
              <% }else { %>
                <a class="btn btn-primary btn-med" href="/users/sign_up">Sign up</a>
              <% } %>
            </div>
          </div>
        </div>
      </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
