<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h3 class="brand-display text-center">Blocipedia: Social, Markdown Wikis</h3>
      <br>
      <header class="jumbotron my-4 padding">
        <p class="h4 d-flex justify-content-center">Upgrade Account</p>
        <div class="text-center">
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <p class="card-text">With a premium account, you can create private wikis on top of public wikis! Get started with payments of $15/mo!</p>
              <div id="error-message"></div>
              <% if(currentUser) { %>
              <button
                class="btn btn-success btn-med"
                id="checkout-button-plan_GJPW0vIYkBdS3j"
                role="link"
              >Upgrade
              </button>
              <script>
              // Maybe refactor into another file
              (() => {
                const stripe = Stripe("pk_test_hgrIQ9DRLmeuH9ETStDbVQp400SgtNRrSd");
                const checkoutButton = document.getElementById("checkout-button-plan_GJPW0vIYkBdS3j");

                checkoutButton.addEventListener("click", () => {
                  // When the customer clicks on the button, redirect
                  // them to Checkout.
                  stripe.redirectToCheckout({
                    items: [{plan: "plan_GJPW0vIYkBdS3j", quantity: 1}],

                    // Do not rely on the redirect to the successUrl for fulfilling
                    // purchases, customers may not always reach the success_url after
                    // a successful payment.
                    // Instead use one of the strategies described in
                    // https://stripe.com/docs/payments/checkout/fulfillment
                    //successUrl: "https://ng-rich-blocipedia.herokuapp.com/users/",
                    //cancelUrl: "https://ng-rich-blocipedia.herokuapp.com/users/upgrade",
                    successUrl: "http://localhost:3000/users/",
                    cancelUrl: "http://localhost:3000/users/upgrade",
                  })
                  .then((result) => {
                    if (result.error) {
                      // If `redirectToCheckout` fails due to a browser or network
                      // error, display the localized error message to your customer.
                      const displayError = document.getElementById("error-message");
                      displayError.textContent = result.error.message;
                    }
                  });
                });

              })();
              </script>
              <% }else { %>
                <a class="btn btn-primary btn-med" href="/users/sign_up">Sign up</a>
              <% } %>
            </div>
          </div>
        </div>
      </header>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
